@import "tailwindcss";

@font-face {
  font-family: 'Cinzel', serif;
  src: url('/fonts/Cinzel-Regular.ttf') format('truetype');
  font-weight: normal;
}

:root {
  --background: #F9F7F2; /* Ivory color from the brand palette */
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}

.primary-green {
  --tw-bg-opacity: 1;
  background-color: #2F7230;
}

.gold {
  --tw-text-opacity: 1;
  color: #D4AF37;
}

.ivory {
  --tw-bg-opacity: 1;
  background-color: #F9F7F2;
}

.teal {
  --tw-bg-opacity: 1;
  background-color: #40C0C7;
}